header {
  background: linear-gradient(to right, rgb(204, 225, 240), rgb(204, 242, 207));
  padding: 1.5rem 10%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  height: 5rem;
}

.container {
  max-width: 1200px;
  margin: -2rem auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo-text {
  font-size: 1.25rem;
  font-weight: 700;
  color: #1f2937;
}

.auth-buttons {
  display: flex;
  gap: 1rem;
}

.login {
  color: rgb(1, 7, 3);
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.login:hover {
  color: #15803d;
}

.signup {
  background: linear-gradient(90deg, rgb(6, 72, 9), rgb(24, 182, 74));
  color: #ffffff;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.signup:hover {
  background: linear-gradient(90deg, rgb(24, 182, 74), rgb(6, 72, 9));
  color: #ffffff;
}
